venv
.env
services\services_venv
services\services_env
services
agent_convo_simulator_app\.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/ 
dist/
build/

# IDE specific files
.vscode/
.idea/
